#provadati {
    margin-top: 20px;
    height: 750px;
    border-right-color: #484643;
    border-right: 1px solid;
    box-shadow: 10px -10px 2px #cacaca;
    font-size: 1.5em;
}

#table {
    margin-top: 20px;
    width: 100%;
    text-align: center;
}

#titolotab {
    color: #c02121;
}

#statetitle {
    text-align: center;
}

.legend {
    width: 10em;
    border: 1px solid black;
}

    .legend .title {
        display: block;
        margin-bottom: 0.5em;
        line-height: 1.2em;
        padding: 0 0.3em;
    }

    .legend .color-sample {
        display: block;
        float: left;
        width: 1em;
        height: 1em;
        border: 2px solid; /* Comment out if you don't want to show the fillColor */
        border-radius: 0.5em; /* Comment out if you prefer squarish samples */
        margin-right: 0.5em;
    }

#image {
    width: 300px;
    height: 300px;
    border-radius: 999em;
    -moz-border-radius: 999em;
    -webkit-border-radius: 999em;
    -o-border-radius: 999em;
}

img.resized {
    width: auto;
    height: auto;
}
