<link href="~/Content/StyleSheetProjectwork.css" rel="stylesheet" />

@{
    ViewBag.Title = "About us";
}
<h2>@ViewBag.Title</h2>
<h4>We are three students of ITS Kennedy . If you wish to contact us , here you have our contacts</h4>

<div class="row" id="images">
    <div style="text-align :center" id="granzi" class="col-md-4">
        <div>
            <img id="image" src="~/Content/images/891604_371485939650869_1418507247_o.jpg" />
        </div>
        <div>
            <p>Email: granziera.matteo@gmail.com</p>
            <p><a href="https://www.facebook.com/tomoki.deltab?fref=ts">Facebook Profile</a></p>
        </div>

    </div>
    <div style="text-align :center" id="teddy" class="col-md-4">
        <div>
            <img id="image" src="~/Content/images/10372061_496384247128288_4036151690616562488_n.jpg" />
        </div>
        <div>
            <p>Email: n.nicolatedesco@gmail.com</p>
            <p><a href="https://www.facebook.com/tedesco.nicola?fref=ts">Facebook Profile</a></p>
        </div>
    </div>
    <div style="text-align :center" id="ale" class="col-md-4">
        <div>

            <img id="image" src="~/Content/images/1610869_10200122367298270_881745210088200308_n.jpg" />
        </div>
        <div>
            <p>Email: alessiodeluca95@gmail.com</p>
            <p><a href="https://www.facebook.com/alessio.p.deluca?fref=ts">Facebook Profile</a></p>
        </div>
    </div>
</div>
<br />
<div style="text-align:center">
    <img style="width:100px" src="~/Content/images/download.png" />
    <br />
    <p><a href="https://github.com/MatteoGranziera/ProjectWorkITS">Contribuisci al nostro progetto</a></p>
</div>

