<link href="~/Content/cssmap-europe/cssmap-europe.css" rel="stylesheet" />
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/StyleSheetProjectwork.css" rel="stylesheet" />
<body>
    <div id="page" class="site">

        <div class="row">
            <div id="provadati" class="col-xs-3">
                <h4>Drag the mouse to see a preview or click one country to see the full graph</h4>
                <div id="dati"></div>
            </div>
            <div id="map-europe" class="col-xs-9">
                <ul class="europe" id="ul">

                    <li class="eu3"><a href="/Country/ViewC?c=Austria">Austria</a></li>
                    <li class="eu5"><a href="/Country/ViewC?c=Belgium">Belgium</a></li>
                    <li class="eu7"><a href="/Country/ViewC?c=Bulgaria">Bulgaria</a></li>
                    <li class="eu8"><a href="/Country/ViewC?c=Croatia">Croatia</a></li>
                    <li class="eu9"><a href="/Country/ViewC?c=Cyprus">Cyprus</a></li>
                    <li class="eu10"><a href="/Country/ViewC?c=Czech Republic">Czech Republic</a></li>
                    <li class="eu11"><a href="/Country/ViewC?c=Danemark">Denmark</a></li>
                    <li class="eu12"><a href="/Country/ViewC?c=Estonia">Estonia</a></li>
                    <li class="eu13"><a href="/Country/ViewC?c=France">France</a></li>
                    <li class="eu14"><a href="/Country/ViewC?c=Finland">Finland</a></li>
                    <li class="eu16"><a href="/Country/ViewC?c=Germany">Germany</a></li>
                    <li class="eu17"><a href="/Country/ViewC?c=Greece">Greece</a></li>
                    <li class="eu18"><a href="/Country/ViewC?c=Hungary">Hungary</a></li>
                    <li class="eu20"><a href="/Country/ViewC?c=Ireland">Ireland</a></li>
                    <li class="eu22"><a href="/Country/ViewC?c=Italy">Italy</a></li>
                    <li class="eu24"><a href="/Country/ViewC?c=Latvia">Latvia</a></li>
                    <li class="eu26"><a href="/Country/ViewC?c=Lithuania">Lithuania</a></li>
                    <li class="eu27"><a href="/Country/ViewC?c=Luxembourg">Luxembourg</a></li>
                    <li class="eu29"><a href="/Country/ViewC?c=Malta">Malta</a></li>
                    <li class="eu33"><a href="/Country/ViewC?c=The Netherlands">The Netherlands</a></li>
                    <li class="eu35"><a href="/Country/ViewC?c=Poland">Poland</a></li>
                    <li class="eu36"><a href="/Country/ViewC?c=Portugual">Portugal</a></li>
                    <li class="eu37"><a href="/Country/ViewC?c=Romania">Romania</a></li>
                    <li class="eu40"><a href="/Country/ViewC?c=Slovakia">Slovakia</a></li>
                    <li class="eu41"><a href="/Country/ViewC?c=Slovenia">Slovenia</a></li>
                    <li class="eu42"><a href="/Country/ViewC?c=Spain">Spain</a></li>
                    <li class="eu43"><a href="/Country/ViewC?c=Sweden">Sweden</a></li>
                    <li class="eu47"><a href="/Country/ViewC?c=United Kingdom">United Kingdom</a></li>
                </ul>
            </div>
        </div>
    </div>
    
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
    <script type="text/javascript" src="http://cssmapsplugin.com/4/jquery.cssmap.js"></script>
    <script src="~/Scripts/JavaScriptProjectwork.js"></script>
   
     <script type="text/javascript">
        $(function ($) {
            $('#map-europe').cssMap({ 'size': 960 });
        });
    </script>



</body>